

.root-layout {
    display: flex;
    flex-direction: column;
    --tw-bg-opacity:1;
    /* background-color: rgb(255, 248, 241 ); */
    background-color: #ffffff;
  }
  
  .main-content {
    min-height: 300px;
    flex: 1;
    /* padding-top: 80px; 
    padding-bottom: 40px; */
    overflow-y: auto;
  }
  